*{
    margin: 0;
    padding: 0;
}
header {
    background-color:  black;
    height: 80px;
    width: 100%;
    
}
nav{
    background-color: black;
    height: 60px;
    width: 100%;
    position:fixed;
    top: 0px; 

}
nav ul {
    height: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    align-items:center;
    list-style-type: none;
    width: 100%;
    top: 0%;
    }
    li{
        width:10%;
    }
nav ul li:hover{
    transform:translate(0px,5px);
    transition: 1s;
}
a{
    color: whitesmoke;
    text-decoration-line: none;
    font-size: 15px;
    background-color: black;
    top: 60px;
    flex-direction: row;
    text-transform: uppercase;
}
body{
    background-color: whitesmoke;
    height: 1000px;
    }
main{
    color: rgb(112, 107, 107);
    height: 1500px;
    margin: 0px 0px 0px 0px;
}
h2{
    color: olive;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.grillaHome{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows:   100px 500px;
    grid-template-areas: "title title title"
                         "textoUno imagen textoDos";
    row-gap: 10px;

}
.tituloHome{
    width: 100%;
    height: 100%;
    grid-area: title;
}
main p{
    color: rgb(100, 91, 155);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
 h1{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family:'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase ;
    color: rgb(116, 101, 18);
    animation-duration: 4s;
   animation-name: aparecer;
   animation-iteration-count: 1;
    } 

 .colorparrafo {
     color: olive;
     
    }
    .colorparrafo colorparrafo--textoUno{
        grid-area: textoUno;
    }
    .colorparrafo colorparrafo--textoDos{
        grid-area: textoDos;
    }
.grillaNos{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 300px 300px 300px 300px;

}
.grillaContacto{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:200px 600px;
    grid-template-areas: "title"
                          "formulario";

}
.tituloContacto{
    grid-area: title;
}

form{
    height: 500px;
    width: 400px;
    grid-area: formulario;
    justify-content:center;

}
.formulario { 
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;

}
legend{
    text-transform: uppercase;
}
label{
    font-size: 20px;
    text-align:start;
    text-transform: uppercase;
}
input{
    align-self: center;
}
.fotoIndex{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
}

.contenedorFotoIndex{
    width: 60%;
    height: auto;
    grid-area: imagen;
}
.contenedorFotoIndex:hover{
    transform: skew(0deg,10deg);
    transition: 5s;
}
.galeria{
    display:grid;
    grid-template-rows:  450px 450px 450px;
    grid-template-columns: 450px 450px 450px;
    grid-template-areas: "fotoUno fotoDos fotoTres"
                          "fotoCuatro fotoCinco fotoSeis"
                          "fotoCuatro fotoSiete fotoOcho";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: flex-end;
}
.contenedor__Foto{
    width: 100%;
    height: auto;
    background-color: whitesmoke;

}
.contenedor__Foto:hover{
    transform: scale(1.5,1.5);
    transition: 2s;
}
.contenedor__Foto .contenedor__Foto--imagenUno{
    grid-area: fotoUno;
}
.contenedor__Foto .contenedor__Foto--imagenCuatro{
    grid-area: fotoCuatro;
}
img{
    max-width: 100%;
    height: auto;
}
.grillaProductos{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
    column-gap: 20px;
    /* no pude asignar las areas
    grid-template-areas: "productoUno espacio      productoDos"
                         "espacio     productoTres espacio"
                         "productoCuatro espacio productoCinco";
        */                 
    
}
/*
.contenedor__Foto--produUno{
    grid-area:productoUno;
}
.contenedor__Foto--produDos{
    grid-area:productoDos;
}
.contenedor__Foto--produTres{
    grid-area:productoTres;
}
.contenedor__Foto--produCuatro{
    grid-area:productoCuatro;
}
.contenedor__Foto--produCinco{
    grid-area:productoCinco;
}
*/
table{
    display: flex;
    justify-content: center;
}
th{
    background-color: olive;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
td{
    background-color: grey;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
}
    footer{
    background-image: linear-gradient(to bottom, grey, black);
    height: 150px;
}
footer p{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: end;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 