main {
  height: 1400px; }
  main .grillaHome {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 650px 200px;
    row-gap: 15px; }
    main .grillaHome .tituloHome {
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      font-family: 'Libre Baskerville', serif;
      text-align-last: center;
      text-transform: uppercase;
      color: #110f01;
      animation-duration: 4s;
      animation-name: aparecer;
      animation-iteration-count: 1;
      padding-top: 20px; }
    main .grillaHome .carousel {
      width: 100%;
      height: auto; }
    main .grillaHome p {
      font-size: 22px;
      font-style: oblique;
      text-align: center; }

.imgIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .imgIndex .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .imgIndex .card .card-body .card-text {
      text-align: center; }
    .imgIndex .card .card-body .card-title {
      text-transform: uppercase; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*xs*/
@media screen and (max-width: 400px) {
  .mainHome {
    height: 2100px;
    background-color: whitesmoke; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 150px 150px;
      row-gap: 10px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-size: 22px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 10px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 15px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 15px; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  footer p {
    font-size: 15px; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

/*small*/
@media screen and (min-width: 400px) {
  .mainHome {
    height: 2200px;
    background-color: whitesmoke; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 220px 150px;
      row-gap: 10px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-size: 27px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 10px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 15px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  footer p {
    font-size: 15px; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

/*sm-landscape*/
@media screen and (min-width: 600px) {
  .mainHome {
    height: 2300px;
    background-color: whitesmoke; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 280px 120px;
      row-gap: 15px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-size: 40px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 10px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 18px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  footer p {
    font-size: 15px; } }

/*md*/
@media screen and (min-width: 728px) {
  .mainHome {
    height: 2000px;
    background-color: whitesmoke; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 90px 420px 120px;
      row-gap: 15px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-size: 50px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 10px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 20px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  footer p {
    font-size: 15px; } }

/*lg*/
@media screen and (min-width: 992px) {
  .mainHome {
    height: 1800px; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 90px 500px 120px;
      row-gap: 15px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-size: 50px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 10px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 20px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  footer p {
    font-size: 15px; } }

/*xl*/
@media screen and (min-width: 1200px) {
  .mainHome {
    height: 1600px; }
    .mainHome .grillaHome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 120px 650px 200px;
      row-gap: 15px; }
      .mainHome .grillaHome .tituloHome {
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        font-family: 'Libre Baskerville', serif;
        text-align-last: center;
        text-transform: uppercase;
        color: #110f01;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        padding-top: 20px; }
      .mainHome .grillaHome .carousel {
        width: 100%;
        height: auto; }
      .mainHome .grillaHome p {
        font-size: 22px;
        font-style: oblique;
        text-align: center; }
  .imgIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .imgIndex .card .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .imgIndex .card .card-body .card-text {
        text-align: center; }
      .imgIndex .card .card-body .card-title {
        text-transform: uppercase; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

main h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  font-family: 'Libre Baskerville', serif;
  text-align-last: center;
  text-transform: uppercase;
  color: #110f01;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  padding-top: 20px; }

main .grillaNos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 450px 450px 420px 420px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center; }
  main .grillaNos .card {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    main .grillaNos .card img {
      margin: 10px 10px 10px 10px; }
    main .grillaNos .card .cardTextN {
      font-size: 20px;
      font-style: oblique;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;
      margin-bottom: 10px; }

/*xs*/
@media screen and (max-width: 350px) {
  .mainNos {
    height: 2200px; }
    .mainNos .grillaNos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 600px 600px 400px 400px;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center; }
      .mainNos .grillaNos .card {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center; }
        .mainNos .grillaNos .card img {
          width: 200px;
          height: auto;
          margin: 10px 10px 10px 10px; }
        .mainNos .grillaNos .card .cardTextN {
          font-size: 17px;
          font-style: oblique;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }

/*s*/
@media screen and (min-width: 350px) {
  .mainNos {
    height: 2200px; }
    .mainNos .grillaNos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 600px 600px 400px 400px;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center; }
      .mainNos .grillaNos .card {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center; }
        .mainNos .grillaNos .card img {
          width: 250px;
          height: auto;
          margin: 10px 10px 10px 10px; }
        .mainNos .grillaNos .card .cardTextN {
          font-size: 18px;
          font-style: oblique;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }

/*sm*/
@media screen and (min-width: 600px) {
  .mainNos {
    height: 1800px; }
    .mainNos .grillaNos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 450px 450px 350px 350px;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center; }
      .mainNos .grillaNos .card {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center; }
        .mainNos .grillaNos .card img {
          width: 200px;
          height: auto;
          margin: 10px 10px 10px 10px; }
        .mainNos .grillaNos .card .cardTextN {
          font-size: 19px;
          font-style: oblique;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }

/*md*/
@media screen and (min-width: 728px) {
  .mainNos {
    height: 1500px; }
    .mainNos .grillaNos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px 300px 300px;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center; }
      .mainNos .grillaNos .card {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center; }
        .mainNos .grillaNos .card img {
          width: 200px;
          height: auto;
          margin: 10px 10px 10px 10px; }
        .mainNos .grillaNos .card .cardTextN {
          font-size: 20px;
          font-style: oblique;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }

/*lg*/
@media screen and (min-width: 992px) {
  .mainNos {
    height: 1800px; }
    .mainNos .grillaNos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 400px 400px 400px 400px;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center; }
      .mainNos .grillaNos .card {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center; }
        .mainNos .grillaNos .card img {
          width: 300px;
          height: auto;
          margin: 10px 10px 10px 10px; }
        .mainNos .grillaNos .card .cardTextN {
          font-size: 20px;
          font-style: oblique;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }

/*xl*/
@media screen and (min-width: 1200px) {
  main h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase;
    color: #110f01;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    padding-top: 20px; }
  main .grillaNos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 420px 420px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center; }
    main .grillaNos .card {
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center; }
      main .grillaNos .card img {
        margin: 10px 10px 10px 10px; }
      main .grillaNos .card .cardTextN {
        font-size: 20px;
        font-style: oblique;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        margin-bottom: 10px; } }

main {
  height: 2000px; }
  main h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase;
    color: #110f01;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    top: 20px; }
  main .grillaProductos {
    display: grid;
    grid-template-columns: 300px 300px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    row-gap: 30px;
    column-gap: 30px; }
    main .grillaProductos .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .grillaProductos .card-body img {
        max-width: 100%;
        height: auto; }

/*xs*/
@media screen and (max-width: 400px) {
  main {
    height: 2700px; }
    main h1 {
      font-size: 30px; }
    main .grillaProductos {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      justify-items: center;
      row-gap: 15px;
      column-gap: 30px; }
      main .grillaProductos .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .grillaProductos .card-body img {
          max-width: 100%;
          height: auto; } }

/*small*/
@media screen and (min-width: 400px) {
  main {
    height: 2700px; }
    main h1 {
      font-size: 40px; }
    main .grillaProductos {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      justify-items: center;
      row-gap: 20px;
      column-gap: 30px; }
      main .grillaProductos .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .grillaProductos .card-body img {
          max-width: 100%;
          height: auto; } }

/*md*/
@media screen and (min-width: 728px) {
  main {
    height: 1800px; }
    main h1 {
      font-size: 50px; }
    main .grillaProductos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      justify-items: center;
      row-gap: 20px;
      column-gap: 30px; }
      main .grillaProductos .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .grillaProductos .card-body img {
          max-width: 100%;
          height: auto; } }

/*lg*/
@media screen and (min-width: 992px) {
  main h1 {
    font-size: 60px; }
  main .grillaProductos {
    grid-template-columns: 300px 300px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    /* row-gap: 40px;
        column-gap: 30px;*/ }
    main .grillaProductos .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .grillaProductos .card-body img {
        max-width: 100%;
        height: auto; } }

/*xl*/
@media screen and (min-width: 1200px) {
  main h1 {
    font-size: 60px; }
  main .grillaProductos {
    grid-template-columns: 300px 300px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    row-gap: 40px;
    column-gap: 30px; }
    main .grillaProductos .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .grillaProductos .card-body img {
        max-width: 100%;
        height: auto; } }

main .tituloHome {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  font-family: 'Libre Baskerville', serif;
  text-align-last: center;
  text-transform: uppercase;
  color: #110f01;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  top: 20px; }

main .galeria {
  display: grid;
  grid-template-rows: 420px 420px 420px;
  grid-template-columns: 420px 420px 420px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: flex-end; }
  main .galeria .contenedor__Foto {
    width: 100%;
    height: auto;
    background-color: whitesmoke; }
    main .galeria .contenedor__Foto img {
      max-width: 100%;
      height: auto; }

main .contenedor__Foto:hover {
  transform: scale(1.1, 1.1);
  transition: 2s; }

/*xs*/
@media screen and (max-width: 400px) {
  .mainGaleria {
    height: 3100px; }
    .mainGaleria .tituloHome {
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      font-family: 'Libre Baskerville', serif;
      text-align-last: center;
      text-transform: uppercase;
      color: #110f01;
      animation-duration: 4s;
      animation-name: aparecer;
      animation-iteration-count: 1;
      top: 20px; }
    .mainGaleria .galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: center;
      justify-content: center; }
      .mainGaleria .galeria .contenedor__Foto {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: center; }
        .mainGaleria .galeria .contenedor__Foto img {
          max-width: 300px;
          height: auto; }
    .mainGaleria .contenedor__Foto:hover {
      transform: scale(1.1, 1.1);
      transition: 2s; } }

/*small*/
@media screen and (min-width: 400px) {
  .mainGaleria {
    height: 2000px; }
    .mainGaleria .galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: flex-end; }
      .mainGaleria .galeria .contenedor__Foto {
        width: 100%;
        height: auto;
        background-color: whitesmoke; }
        .mainGaleria .galeria .contenedor__Foto img {
          max-width: 100%;
          height: auto; }
    .mainGaleria .contenedor__Foto:hover {
      transform: scale(1.1, 1.1);
      transition: 2s; } }

/*md*/
@media screen and (min-width: 728px) {
  .mainGaleria {
    height: 1200px; }
    .mainGaleria .galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: flex-end; }
      .mainGaleria .galeria .contenedor__Foto {
        width: 100%;
        height: auto;
        background-color: whitesmoke; }
        .mainGaleria .galeria .contenedor__Foto img {
          max-width: 100%;
          height: auto; }
    .mainGaleria .contenedor__Foto:hover {
      transform: scale(1.1, 1.1);
      transition: 2s; } }

/*large*/
@media screen and (min-width: 992px) {
  .mainGaleria {
    height: 1300px; }
    .mainGaleria .galeria {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 330px 330px 330px;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: flex-end;
      justify-content: center; }
      .mainGaleria .galeria .contenedor__Foto {
        width: 100%;
        height: auto;
        background-color: whitesmoke; }
        .mainGaleria .galeria .contenedor__Foto img {
          max-width: 100%;
          height: auto; }
    .mainGaleria .contenedor__Foto:hover {
      transform: scale(1.1, 1.1);
      transition: 2s; } }

/*xl*/
@media screen and (min-width: 1200px) {
  .mainGaleria {
    height: 1500px; }
    .mainGaleria .tituloHome {
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      font-family: 'Libre Baskerville', serif;
      text-align-last: center;
      text-transform: uppercase;
      color: #110f01;
      animation-duration: 4s;
      animation-name: aparecer;
      animation-iteration-count: 1;
      top: 20px; }
    .mainGaleria .galeria {
      display: grid;
      grid-template-rows: 420px 420px 420px;
      grid-template-columns: 420px 420px 420px;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      justify-items: flex-end; }
      .mainGaleria .galeria .contenedor__Foto {
        width: 100%;
        height: auto;
        background-color: whitesmoke; }
        .mainGaleria .galeria .contenedor__Foto img {
          max-width: 100%;
          height: auto; }
    .mainGaleria .contenedor__Foto:hover {
      transform: scale(1.1, 1.1);
      transition: 2s; } }

.mainContacto {
  height: 800px;
  background-color: black; }
  .mainContacto .tituloContacto {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase;
    color: olive;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    top: 20px; }
  .mainContacto .grillaContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px; }
    .mainContacto .grillaContacto .imgContacto {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 100px; }
      .mainContacto .grillaContacto .imgContacto .img {
        width: 100%;
        height: auto; }
    .mainContacto .grillaContacto .formulario {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin-top: 100px; }
      .mainContacto .grillaContacto .formulario legend {
        text-transform: uppercase;
        align-items: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif; }
      .mainContacto .grillaContacto .formulario .form-label {
        color: olive;
        font-size: 20px;
        text-align: start;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif; }
      .mainContacto .grillaContacto .formulario input {
        align-items: center; }

/*xs*/
@media screen and (max-width: 300px) {
  .mainContacto {
    height: 1000px; }
    .mainContacto .tituloContacto {
      font-size: 30px; }
    .mainContacto .grillaContacto {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 250px 350px; }
      .mainContacto .grillaContacto .imgContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .mainContacto .grillaContacto .imgContacto img {
          width: 200px;
          height: 200px; }
      .mainContacto .grillaContacto legend {
        text-transform: uppercase;
        align-items: center;
        font-size: 15px; }
      .mainContacto .grillaContacto .form-label {
        color: olive;
        font-size: 13px;
        text-align: start;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif; } }

/*sm*/
@media screen and (min-width: 300px) {
  .mainContacto {
    height: 1000px; }
    .mainContacto .tituloContacto {
      font-size: 40px; }
    .mainContacto .grillaContacto {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 350px 450px; }
      .mainContacto .grillaContacto .imgContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .mainContacto .grillaContacto .imgContacto img {
          width: 300px;
          height: 300px;
          margin-top: 50px; }
      .mainContacto .grillaContacto legend {
        text-transform: uppercase;
        align-items: center;
        font-size: 15px; }
      .mainContacto .grillaContacto .form-label {
        color: olive;
        font-size: 13px;
        text-align: start;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif; } }

/*md*/
@media screen and (min-width: 728px) {
  .mainContacto {
    height: 1100px; }
    .mainContacto .tituloContacto {
      font-size: 50px; }
    .mainContacto .grillaContacto {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 550px 500px; }
      .mainContacto .grillaContacto .imgContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .mainContacto .grillaContacto .imgContacto img {
          width: 500px;
          height: auto;
          margin-top: 50px; }
      .mainContacto .grillaContacto legend {
        text-transform: uppercase;
        align-items: center;
        font-size: 15px; }
      .mainContacto .grillaContacto .form-label {
        color: olive;
        font-size: 13px;
        text-align: start;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif; } }

/*lg*/
@media screen and (min-width: 996px) {
  .mainContacto {
    height: 1100px; }
    .mainContacto .tituloContacto {
      font-size: 60px; }
    .mainContacto .grillaContacto {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 550px 500px; }
      .mainContacto .grillaContacto .imgContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .mainContacto .grillaContacto .imgContacto img {
          width: 500px;
          height: auto;
          margin-top: 50px; }
      .mainContacto .grillaContacto legend {
        text-transform: uppercase;
        align-items: center;
        font-size: 15px; }
      .mainContacto .grillaContacto .form-label {
        color: olive;
        font-size: 13px;
        text-align: start;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif; } }

/*xl*/
@media screen and (min-width: 1200px) {
  .mainContacto {
    height: 800px;
    background-color: black; }
    .mainContacto .tituloContacto {
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      font-family: 'Libre Baskerville', serif;
      text-align-last: center;
      text-transform: uppercase;
      color: olive;
      animation-duration: 4s;
      animation-name: aparecer;
      animation-iteration-count: 1;
      top: 20px; }
    .mainContacto .grillaContacto {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 600px; }
      .mainContacto .grillaContacto .imgContacto {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 100px; }
        .mainContacto .grillaContacto .imgContacto .img {
          width: 100%;
          height: auto; }
      .mainContacto .grillaContacto .formulario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 170px; }
        .mainContacto .grillaContacto .formulario legend {
          text-transform: uppercase;
          align-items: center;
          font-size: 20px;
          font-family: 'Times New Roman', Times, serif; }
        .mainContacto .grillaContacto .formulario .form-label {
          color: olive;
          font-size: 20px;
          text-align: start;
          text-transform: uppercase;
          font-family: 'Times New Roman', Times, serif; }
        .mainContacto .grillaContacto .formulario input {
          align-items: center; } }

footer {
  background-color: black;
  height: 150px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 35px 50px;
  justify-content: center;
  align-items: center;
  justify-items: center; }
  footer p {
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; }
  footer .textoPie {
    font-size: 14px;
    font-style: oblique; }

/*xs*/
@media screen and (max-width: 300px) {
  footer {
    background-color: black;
    height: 150px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 35px 60px;
    justify-content: center;
    align-items: center;
    justify-items: center; }
    footer p {
      color: whitesmoke;
      font-size: 12px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: justify; }
    footer img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center; }
    footer .textoPie {
      font-size: 12px;
      font-style: oblique; } }

/*sm*/
@media screen and (min-width: 300px) {
  footer {
    background-color: black;
    height: 150px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 35px 60px;
    justify-content: center;
    align-items: center;
    justify-items: center; }
    footer p {
      color: whitesmoke;
      font-size: 12px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: justify; }
    footer img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center; }
    footer .textoPie {
      font-size: 12px;
      font-style: oblique;
      margin-right: 10px;
      margin-left: 10px; } }

header {
  background-color: whitesmoke;
  height: 60px;
  width: 100%; }

ul li {
  text-transform: uppercase; }

/*xs*/
@media screen and (max-width: 300px) {
  header img {
    width: 40px;
    height: 40px; } }
