footer{
    background-color:$color;
    height: 150px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 35px 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;

     p{
       color: whitesmoke;
       font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: justify;
    
    }
    .textoPie{
        font-size:14px;
        font-style: oblique;
       }
    }

    /*xs*/
    @media screen and (max-width:300px){
        footer{
            background-color:$color;
            height: 150px;
            text-transform: uppercase;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 40px 35px 60px;
            justify-content: center;
            align-items: center;
            justify-items: center;
        
             p{
               color: whitesmoke;
               font-size: 12px;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              text-align: justify;
            
            }
            img{
                display:flex;
                flex-direction: row;
                justify-content: center;
                justify-items: center;
            }
            .textoPie{
                font-size:12px;
                font-style: oblique;
               }
            }
    }
/*sm*/
@media screen and (min-width:300px){
    footer{
        background-color:$color;
        height: 150px;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40px 35px 60px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    
         p{
           color: whitesmoke;
           font-size: 12px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-align: justify;
        
        }
        img{
            display:flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
        }
        .textoPie{
            font-size:12px;
            font-style: oblique;
            margin-right: 10px;
            margin-left: 10px;
           }
        }
}