main{

h1{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family:'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase ;
    color: rgb(17, 15, 1);
    animation-duration: 4s;
   animation-name: aparecer;
   animation-iteration-count: 1;
   padding-top:20px;}

.grillaNos{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 450px 450px 420px 420px; 
    column-gap: 20px;
    justify-content: center;
    align-items:center;
    justify-items: center;
    align-content: center;
    
    .card{
        width:60%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        img{
            margin: 10px 10px 10px 10px;
        }
        .cardTextN{
            font-size: 20px;
            font-style: oblique;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    
}
  
}
/*xs*/
@media screen and (max-width:350px){
  .mainNos{
      height: 2200px;

        .grillaNos{
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 600px 600px 400px 400px; 
        column-gap: 10px;
        justify-content: center;
        align-items:center;
        justify-items: center;
        align-content: center;
        
        .card{
            width:80%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            img{
                width: 200px;
                height: auto;
                margin: 10px 10px 10px 10px;
            }
            .cardTextN{
                font-size: 17px;
                font-style: oblique;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        
    }
}
}
/*s*/
@media screen and (min-width:350px){
    .mainNos{
        height: 2200px;
  
          .grillaNos{
          display:grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 600px 600px 400px 400px; 
          column-gap: 10px;
          justify-content: center;
          align-items:center;
          justify-items: center;
          align-content: center;
          
          .card{
              width:80%;
              height: auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              justify-items: center;
              align-items: center;
              img{
                  width: 250px;
                  height: auto;
                  margin: 10px 10px 10px 10px;
              }
              .cardTextN{
                  font-size: 18px;
                  font-style: oblique;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
          }
          
      }
  }
  
}
/*sm*/
@media screen and (min-width:600px){
    .mainNos{
        height: 1800px;
  
          .grillaNos{
          display:grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 450px 450px 350px 350px; 
          column-gap: 10px;
          justify-content: center;
          align-items:center;
          justify-items: center;
          align-content: center;
          
          .card{
              width:80%;
              height: auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              justify-items: center;
              align-items: center;
              img{
                  width: 200px;
                  height: auto;
                  margin: 10px 10px 10px 10px;
              }
              .cardTextN{
                  font-size: 19px;
                  font-style: oblique;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
          }
          
      }
  }
  }
/*md*/
@media screen and (min-width:728px){
    .mainNos{
        height: 1500px;
  
          .grillaNos{
          display:grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 300px 300px 300px 300px; 
          column-gap: 10px;
          justify-content: center;
          align-items:center;
          justify-items: center;
          align-content: center;
          
          .card{
              width:80%;
              height: auto;
              display: flex;
              flex-direction: row;
              justify-content: center;
              justify-items: center;
              align-items: center;
              img{
                  width: 200px;
                  height: auto;
                  margin: 10px 10px 10px 10px;
              }
              .cardTextN{
                  font-size: 20px;
                  font-style: oblique;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
          }
          
      }
  }
  
}
/*lg*/
@media screen and (min-width:992px){
    .mainNos{
        height: 1800px;
  
          .grillaNos{
          display:grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 400px 400px 400px 400px; 
          column-gap: 10px;
          justify-content: center;
          align-items:center;
          justify-items: center;
          align-content: center;
          
          .card{
              width:60%;
              height: auto;
              display: flex;
              flex-direction: row;
              justify-content: center;
              justify-items: center;
              align-items: center;
              img{
                  width: 300px;
                  height: auto;
                  margin: 10px 10px 10px 10px;
              }
              .cardTextN{
                  font-size: 20px;
                  font-style: oblique;
                  margin-left: 10px;
                  margin-right: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
          }
          
      }
  }
  
}
/*xl*/
@media screen and (min-width:1200px){
    main{

        h1{
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            font-family:'Libre Baskerville', serif;
            text-align-last: center;
            text-transform: uppercase ;
            color: rgb(17, 15, 1);
            animation-duration: 4s;
           animation-name: aparecer;
           animation-iteration-count: 1;
           padding-top:20px;}
        
        .grillaNos{
            display:grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 450px 450px 420px 420px; 
            column-gap: 20px;
            justify-content: center;
            align-items:center;
            justify-items: center;
            align-content: center;
            
            .card{
                width:60%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-items: center;
                align-items: center;
                img{
                    margin: 10px 10px 10px 10px;
                }
                .cardTextN{
                    font-size: 20px;
                    font-style: oblique;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            }
            
        }
          
        }
}