h1{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    font-family:'Libre Baskerville', serif;
    text-align-last: center;
    text-transform: uppercase ;
    color: rgb(17, 15, 1);
    animation-duration: 4s;
   animation-name: aparecer;
   animation-iteration-count: 1;
   margin-top:150px;}

.grillaNos{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px 600px; 
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .contenedorFoto{
       width: 100%;
       height: auto;
       background-color: whitesmoke;
       img{
           max-width: 100%;
           height: auto;
       }
   }
 } 
@mixin card($alto, $colorBg, $color){
    height: $alto;
    width: 100%;
    background-color: $colorBg;
    padding: 20px 20px 20px 20px;
    color: $color;
    font-size: 20px;
    text-align: center;
}

.cardUno{
    @include card(600px, white,black);

}
.cardDos{
    @include card(600px, black, white);
}

.cardTres{
    @include card(500px, white, black);
}

.cardCuatro{
    @include card(500px, black, white);
}

 /*small*/
 @media only screen and (max-width:300px){
    main{
     h1{
         font-size: 30px;
     }
     .grillaNos{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 500px 600px 500px 500px; 
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .contenedorFoto{
           width: 100%;
           height: auto;
           background-color: whitesmoke;
           img{
               max-width: 100%;
               height: auto;
           }
       }
        }
     
     }
}
/*medium*/
@media only screen and (min-width:600px){
 main{
     h1{
         font-size: 40px;
     }

     .grillaNos{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 500px 500px; 
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .contenedorFoto{
           width: 100%;
           height: auto;
           background-color: whitesmoke;
           img{
               max-width: 100%;
               height: auto;
           }
       }
        }
}
}